MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/fashion_db?retryWrites=true&w=majority
PORT=5000
SECRET_KEY=your_super_secret_fashion_key
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
