--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-cors
pymongo
dnspython
pyjwt
torch
torchvision
pillow
numpy
pandas
scikit-learn
faiss-cpu
gunicorn
python-dotenv
werkzeug
opencv-python-headless
google-auth
