flask
flask-cors
pymongo
dnspython
pyjwt
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
pillow
numpy
pandas
scikit-learn
faiss-cpu
gunicorn
python-dotenv
werkzeug
opencv-python-headless
